 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 .dunyo {
     border: 1px dotted blue;
     width: 100%;
 }

 #dunyo {
     text-align: center;

 }

 /* .uchrang {
     background-color: black;
     width: 100px;
     height: 100px;
     color: white;
 } */
 .yashil {
     background-color: rgb(28, 218, 3);
     width: 300px;
     height: 300px;
     color: rgb(0, 0, 0);
     border-radius: 50%;
     text-align: center;
 }

 .sariq {
     background-color: rgb(238, 255, 0);
     width: 300px;
     height: 300px;
     color: rgb(0, 0, 0);
     border-radius: 50%;
     text-align: center;
 }

 .qizil {
     background-color: #ce1104;
     width: 300px;
     height: 300px;
     color: rgb(0, 0, 0);
     border-radius: 50%;
     text-align: center;
 }