* body {
    background-color: rgb(203, 225, 243);
}

header {
    text-align: center;
    background-color: rgb(14, 112, 14);
    padding: 30px;
}

nav {
    text-align: center;
    background-color: black;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: dashed;
    padding: 5px;
    width: 10px;
}

section {
    background-color: aliceblue;

}

div {
    background-color: aliceblue;
}

div img{
    width: 500px;
}
aside{
    background-color: #f0f8ff;

}
.bir th{
background-color: green;
}
.bir td{
    border: 1px solid black;
    padding: 5px;
}
table{
    border-collapse: collapse;
width: 100%;
text-align: center;
}
footer{
    margin-top: 25px;
    padding: 20px;
    text-align: center;
    background-color: rgb(8, 8, 8);
    color: aliceblue;
}