body {
    background-color: #f7fafc;
}

.ikki th {
    background-color: #f0f5fa;
    border: 01px solid rgb(224, 213, 213);
    padding: 10px;
    text-align: justify;

}

.ikki td {
    border: 01px solid rgb(230, 217, 217);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: justify;

}

table {
    width: 35%;
    text-align: center;
    border-collapse: collapse;
}

.bir {
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    width: 36%;
}

button {
    background-color: rgb(0, 114, 221);
    padding: 5px;
}